html, body, #__nuxt, main{
  color: $white;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background-color: $black;
  overflow-x: hidden;
  @media screen and (max-width: 991px) {
    height: auto;
  }

}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: rgba(208, 214, 255, 0.1);; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: $lavender; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  //border: 1px solid $lavender; /* creates padding around scroll thumb */
}

.unstyled-link {
  color: $white;
  text-decoration: $lavender underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 1px;
  &:hover {
    text-shadow: 0px 0px 5px $blue;
    text-decoration: $blue underline;

  }
}
.div-btn-neon .unstyled-link, .text-uppercase.unstyled-link {
  text-decoration: none;
  text-shadow: unset;
}
.section_home {

  background: $bg-gradient-full;

}
.section_page {
  background: $black;
  width: 100vw;
}

.section_home {
  padding: 150px;
  &.last_section {
    padding: 150px 150px 260px 150px;
  }
  @media screen and (max-width: 1200px) {
    padding: 80px;
    &.last_section {
      padding: 80px 80px 189px 80px;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 50px;
    &.last_section {
      padding: 50px 50px 156px 50px;
    }
  }
}
.last_div-margin {
  padding-bottom: 150px;
}

.vertical_img {
  width: 50%;
  @media screen and (max-width: 991px) {
    width: 100%;
  }
}

.reseaux_btn {
  svg {
    width: 50px;
    @media screen and (max-width: 991px) {
      width: 40px;
    }
  }
}

@import 'variables';