$white: #D0D6FF;
$black: #030303;
$blue: #01B0D3;
$lavender: #D794FA;
$h-gradient: linear-gradient(90deg, rgba(1,176,211,1) 0%, rgba(215,148,250,1) 100%);
$bg-gradient-half: linear-gradient(135deg, rgba(38, 66, 124, 0.10) 0%, rgba(1, 176, 211, 0.10) 51.56%, rgba(237, 67, 192, 0.10) 100%);
$bg-gradient-full: linear-gradient(305deg, rgba(1, 176, 211, 0.10) 0%, rgba(215, 148, 250, 0.10) 49.48%, rgba(215, 148, 250, 0.00) 100%);

//ba
/*
$heavy_metal: #22231E; //text, button
$quicksand: #BBA18F; //even section bg
$yellow_metal: #73593D; //logo, current link, clickable highlighted links
$gold: #D19A50; //gold color choice
$silver: #D9D9D9; // silver color choice
$pink_gold: #D4ABA2; //pink gold color choice
$silver_chalice: #9F9F9F; //input box
*/